{# src/AppBundle/Resources/views/Form/PrivateOffice/readerPassword.html.twig #}
{% form_theme form _self %}

{% if message %}
    {% if message.error is defined %}
        <p class="error-message">{{ message.error }}</p>
    {% endif %}
    {% if message.notification is defined %}
        <p class="notification-message">{{ message.notification }}</p>
    {% endif %}
{% endif %}

<form action="{{ path('reader_password_send', { '_locale': app.request.locale }) }}" method="POST" id="password-change">
    <div class="row">
        <div class="entitled">
            <p>{{ 'private_office.old_password.label'|trans({}, "forms") }}</p>
        </div>
        <div class="field-holder">
            {{ form_widget(form.oldPassword, {
                'id': "old-password",
                'attr': {
                    'class': "toggle-input",
                    'data-rule-required': "true", 'data-msg-required': 'private_office.old_password.not_blank'|trans({}, "validators")
                }
            }) }}
            {% block form_label_old_password %}
                {{ block('base_form_label') }}
                <label for="old-password">
                    <span class="icon-holder"><span class="icon fa fa-pencil"></span></span>
                    <span class="title">{{ 'private_office.old_password.placeholder'|trans({}, "forms") }}</span>
                </label>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="entitled">
            <p>{{ 'private_office.new_password.label'|trans({}, "forms") }}</p>
        </div>
        <div class="field-holder">
            {{ form_widget(form.newPassword.password, {
                'id': "new-password",
                'attr': {
                    'class': "toggle-input",
                    'data-rule-required': "true", 'data-msg-required': 'private_office.new_password.not_blank'|trans({}, "validators")
                }
            }) }}
            {% block form_label_new_password %}
                {{ block('base_form_label') }}
                <label for="new-password">
                    <span class="icon-holder"><span class="icon fa fa-pencil"></span></span>
                    <span class="title">{{ 'private_office.new_password.placeholder'|trans({}, "forms") }}</span>
                </label>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="entitled">
            <p>{{ 'private_office.new_password_repeated.label'|trans({}, "forms") }}</p>
        </div>
        <div class="field-holder">
            {{ form_widget(form.newPassword.confirm, {
                'id': "repeat-password",
                'attr': {
                    'class': "toggle-input",
                    'data-rule-required': "true", 'data-msg-required': 'private_office.new_password.not_confirmed'|trans({}, "validators")
                }
            }) }}
            {% block form_label_password_confirm %}
                {{ block('base_form_label') }}
                <label for="repeat-password">
                    <span class="icon-holder"><span class="icon fa fa-pencil"></span></span>
                    <span class="title">{{ 'private_office.new_password_repeated.placeholder'|trans({}, "forms") }}</span>
                </label>
            {% endblock %}
        </div>
    </div>

    {{ form_widget(form._token) }}

    <button type="submit" class="touch-hover">
        <span>{{ 'private_office.password.submit'|trans({}, "forms") }}</span>
    </button>
</form>